@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 폰트로 프리텐다드를 사용합니다. Noto Sans가 가진 자간 문제를 손쉽게 해결할 수 있는 방법입니다.
웹폰트 로딩은 index.html 에서 처리해 주었습니다. */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
